.message {
    margin-top: 15px;
    background-color: rgb(148, 216, 255);
    /* block-size: fit-content; */
    width: fit-content;
    padding: 7px;
    border-radius: 7px;
}

._user {
    margin-left: auto;
    background-color: rgba(255, 255, 255, 0.562);

    /* margin-top: 15px;
    
    
    width: fit-content;
    padding: 7px;
    border-radius: 7px; */

    /* block-size: fit-content; */
}