.message {
    margin-top: 15px;
    background-color: rgb(148, 216, 255);
    /* block-size: fit-content; */
    width: fit-content;
    padding: 7px;
    border-radius: 7px;
}

.user {
    margin-left: auto;
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.562);
    /* block-size: fit-content; */
    width: fit-content;
    padding: 7px;
    border-radius: 7px;
}