.item img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.item {
    color: rgb(59, 59, 59);
    margin-top: 20px;
    /* display: block; */
    
}

.main {
    /* margin-right: 10px; */
    padding: 5px;
    align-items: center;
    display: flex;
    border: 2px solid rgb(59, 59, 59);
    border-radius: 10px;
}

.like::before {
    content: 'â¤'
}

/* .item>* {
    display: inline-block;
} */

.post {
    margin-left: 10px;
    /* top: 0%; */
    /* display: inline-block; */
}

.postFooter>* {
    margin-top: 5px;
    text-align: center;
    width: 60px;
    border: solid rgb(59, 59, 59) 2px;
    border-radius: 10px;
}