.item img {
    width: 80px;
    height: 80px;
    border-radius: 15px;
    object-fit: cover;
}

.item {
    color: rgb(93, 93, 196);
    
}

.like::before {
    content: 'â¤'
}

span {
    
    margin-right: 30px;
}

/* .item>* {
    display: inline-block;
} */

.post {
    top: 0%;
    display: inline-block;
}

.postFooter>* {
    margin-right: 40px;
    text-align: center;
    display: inline-block;
    width: 60px;
    border: solid rgb(93, 93, 196) 2px;
    border-radius: 10px;
}